language: objective-c

env:
 global:
  - EnableNuGetPackageRestore=true 
 matrix:
  - MONO_VER="2.10.8_3"
  - MONO_VER="3.0.12"
  - MONO_VER="3.1.2"
  - MONO_VER="3.2.7"
  - MONO_VER="3.4.0"

before_install:
 - .ci/install-mono.sh

script:
 - .ci/install-certs.sh
 - xbuild /p:Configuration=Debug /verbosity:minimal
 - .ci/nunit.sh bin/Debug/AnyCPU/dnplatform_tests.dll
 - xbuild /p:Configuration=Release /verbosity:minimal
 - .ci/nunit.sh bin/Release/AnyCPU/dnplatform_tests.dll
